<html>
    <head>
        <title>decoded</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="shortcut icon" href="#" />
    </head>
 <body>
     
     <div class="ui fixed inverted menu">
         <div class="ui container">
            <div class="header item"><i class="code icon"></i>decoded</div>
            <a href="/" class="item">Blog</a>
            <a href="/admin/" class="item">Admin</a>
            <a href="/admin/new" class="item">Admin - Nowy wpis</a>
        </div>
    </div>
